<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Midi Browser</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap/3.3.7/bootstrap.min.css">

    <link rel="stylesheet" href="./css/sticky-footer.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="./js/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="./js/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="x-template" id="panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a @click="visible=!visible">{{title}}</a>
                </h3>
            </div>
            <div class="panel-body" v-if="visible">
                <slot></slot>
            </div>
        </div>
    </script>
</head>

<body>
<div id="app">

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Midi Browser</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                </ul>
            </div>
        </div>
    </nav>

    <h1 v-if="midi.error" class="text-danger">{{ midi.error }}</h1>

    <div class="container-fluid" v-if="midi.access">

        <div class="row">
            <div class="col-sm-6">
                <panel title="Midi settings">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="midi_input" class="col-xs-3 control-label">Input</label>
                            <div class="col-xs-9">
                                <select id="midi_input" v-model.number="midi.inputId" class="form-control">
                                    <option value="0">None</option>
                                    <option v-for="id in Array.from(midi.access.inputs.keys())" :value="id">
                                        {{ midi.access.inputs.get(id).name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="midi_output" class="col-xs-3 control-label">Output</label>
                            <div class="col-xs-9">
                                <select id="midi_output" v-model.number="midi.outputId" class="form-control">
                                    <option value="0">None</option>
                                    <option v-for="id in Array.from(midi.access.outputs.keys())" :value="id">
                                        {{ midi.access.outputs.get(id).name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="midi_thru" class="col-xs-3 control-label">Midi Thru</label>
                            <div class="col-xs-9">
                                <input id="midi_thru" type="checkbox" @click="onThruClicked($event.srcElement.checked)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="midi_map" class="col-xs-3 control-label">Channel mapping</label>
                            <div class="col-xs-9">
                                <select id="midi_map" v-model="midi.channelMap" class="form-control">
                                    <option value="-1">None</option>
                                    <option v-for="chan in 16" :value="chan-1">{{ chan }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-3 col-xs-9">
                                <button class="btn btn-default" @click="allNotesOff">All Notes Off</button>
                            </div>
                        </div>
                    </div>
                </panel>
            </div>
            <div class="col-sm-6">
                <panel title="Metronome settings">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="bpm" class="col-xs-3 control-label">BPM</label>
                            <div class="col-xs-9">
                                <input id="bpm" v-model.number="clock.bpm" type="number" min="30" max="300" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nb-beats" class="col-xs-3 control-label">Nb Beats</label>
                            <div class="col-xs-9">
                                <input id="nb-beats" ref="nbBeats" type="number" min="1" value="4" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-3 col-xs-9">
                                <button class="btn btn-default" type="button" @click="createMetronomeTrack($refs.nbBeats.value)">Create Track</button>
                            </div>
                        </div>
                    </div>
                </panel>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <panel title="Transport">
                    <div class="btn-group btn-group-lg" role="group" aria-label="...">
                        <button type="button" class="btn" :class="[player.isEnabled() ? 'btn-success' : 'btn-default']"
                                @click="onPlayClicked">Play
                        </button>
                        <button type="button" class="btn" :class="[recorder.isEnabled() ? 'btn-danger' : 'btn-default']"
                                @click="onRecordClicked">Record
                        </button>
                    </div>
                </panel>
            </div>
        </div>


        <div class="row">
            <div class="alert alert-info text-center col-md-2 col-sm-3 col-xs-4" v-for="(track,index) in player.tracks">
                {{ track.name }}
                <button type="button" class="close" aria-label="Close" @click="player.removeTrack(track)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="https://github.com/b-viguier/MidiBrowser">Sources</a>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./js/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./js/bootstrap/3.3.7/bootstrap.min.js"></script>

<script src="./js/vue/2.2.2/vue.js"></script>
<script src="./js/WebMIDIAPIShim/WebMIDIAPI.min.js"></script>

<script src="js/Dispatcher.js"></script>
<script src="js/Clock.js"></script>
<script src="js/Track.js"></script>
<script src="js/Player.js"></script>
<script src="js/Recorder.js"></script>
<script src="js/app.js"></script>
</body>
</html>